<%= render 'partials/header' %>

<div class="newBg">

  <div class="newSec">
    <h1>New article</h1>

    <%= render 'form' %>

    <button class="ui floated basic purple button" id="backBtn">
      <a href="/articles">Back</a>
    </button>
  </div>

</div>

<%= render 'partials/footer' %>
