<%= render 'partials/header' %>

<div class="newContainer">
  <div class="newSubContainer">
    <h1>New User</h1>

    <%= render 'form', user: @user %>

    <button class="ui floated basic purple button" id="backBtn">
      <%= link_to 'Back', users_path %>
    </button>
  </div>
</div>
<%= render 'partials/footer' %>
