<%= render 'partials/header' %>

<div class="myBg">
  <marquee behaviour="alternate" scrollamount="9" direction="down">
    <%= link_to 'Welcome to my Blog!', controller: 'articles' %>
  </marquee>
</div>

<div class="btmBlk">
</div>

<%= render 'partials/footer' %>
